@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    overflow: hidden;
    font-family: 'Barrio', cursive;
    background: linear-gradient(135deg, #FF0000, #2b1055, #000000, #07091d, #000000, #2b1055, #FF0000);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none; 
    touch-action: none; 
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}